* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

/* FONDO */
#fondo {
    position: fixed;
    inset: 0;
    background: url("fondo1.webp") center/cover no-repeat;
    filter: brightness(1.1) saturate(1.2);
    z-index: -3;
    /* FONDO FELIZ (ESCENA 2) */
body.feliz #fondo {
    filter: brightness(1.25) saturate(1.45);
    transition: filter 1.2s ease;
}

}

/* ESTRELLAS / BRILLOS */
#stars span {
    position: fixed;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: radial-gradient(circle, #fff, #ffb6d5);
    animation: twinkle 2s infinite ease-in-out;
    opacity: 0.8;
    z-index: -2;
}

@keyframes twinkle {
    0%,100% { transform: scale(1); opacity: 0.4; }
    50% { transform: scale(1.8); opacity: 1; }
}

/* CARD */
.card {
    max-width: 420px;
    margin: auto;
    margin-top: 12vh;
    padding: 30px;
    background: rgba(255,255,255,0.35);
    border-radius: 30px;
    backdrop-filter: blur(14px);
    box-shadow: 0 25px 60px rgba(255,105,180,0.35);
    text-align: center;
    animation: breathe 4s ease-in-out infinite;
}

@keyframes breathe {
    0%,100% { transform: scale(1); }
    50% { transform: scale(1.02); }
}

.hidden { display: none; }

h1 {
    font-size: 28px;
    font-weight: bold;
}

.heart {
    display: inline-block;
    animation: pulse 1.4s infinite;
}

@keyframes pulse {
    0%,100% { transform: scale(1); }
    50% { transform: scale(1.3); }
}

.sub { opacity: 0.85; }

.question-box {
    background: rgba(255,255,255,0.75);
    border-radius: 45px;
    padding: 20px;
    margin: 25px 0;
    font-size: 18px;
}

/* BOTONES */
.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    padding: 12px 22px;
    border: none;
    border-radius: 999px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s;
}

#btnSi {
    background: #ff4f9a;
    color: white;
}

#btnNo {
    background: #eee;
}

.frase {
    margin-top: 15px;
    font-style: italic;
    opacity: 0.85;
}

/* VIDEO */
.video-box {
    background: rgba(255,255,255,0.45);
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0 15px 40px rgba(255,105,180,0.3);
}

video {
    width: 87%;
    border-radius: 20px;
}

/* CORAZONES ESCENA 2 */
.heart-fall {
    position: fixed;
    top: -20px;
    font-size: 22px;
    animation: fall linear forwards;
    pointer-events: none;
}

@keyframes fall {
    to {
        transform: translateY(110vh);
        opacity: 0;
    }
}
/* AUREOLAS DE LUZ */
#halos span {
    position: fixed;
    border-radius: 50%;
    filter: blur(25px);
    opacity: 3.5;
    animation: haloGlow 6s ease-in-out infinite;
    z-index: -2;
}

@keyframes haloGlow {
    0%,100% {
        opacity: 3.5;
        transform: scale(1);
    }
    50% {
        opacity: 3.5;
        transform: scale(1.15);
    }
}
